.signin_container{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    gap: 3em;

    .signin_box{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        border: solid 2px var(--color-light_pink-500);
        border-radius: 15px;

        /* max-width: 40vw; */
        min-height: 500px;
        margin: 0 auto;

        input {
            font-weight: 500;
            text-align: center;
            border-bottom: solid 1px var(--color-light_pink-500);
            outline-color: var(--color-light_pink-400);
            color: var(--color-light_pink-500);
            line-height: 2;
        }

        button {
            /* font-size: 1.5em; */
            background-color: var(--color-magenta);
            color: white;
            padding: 12px;
            border-radius: 8px;
        }

        .box_bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            color: var(--color-light_pink-500);
            font-weight: 500;

            ul {
                display: flex;
                flex-direction: row;
                gap: 1em;
            }
        }
    }


    .conditions_box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 4em;
    }

}


/* mobile */
@media (width < 1000px) {
   .signin_box{
        max-width: 60vw;
        padding: 2em 2em;
        input {
            font-size: 1em;
        }
        button {
            font-size: 1em;
        }
   } 
}

/* pc */
@media (width > 1000px) {
  .signin_box{
    max-width: 40vw;
    padding: 4em 4em;
        input {
            font-size: 1.5em;
        }
        button {
            font-size: 1.5em;
        }        
  }
}