.signin_container{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    gap: 3em;

    .signin_box{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 36;
        
        border: solid 2px var(--color-light_pink-500);
        border-radius: 15px;

        min-width: 600px;
        min-height: 500px;
        margin-inline: auto;
        padding: 4em 4em;

        input {
            font-weight: 500;
            font-size: 1.5em;
            text-align: center;
            border-bottom: solid 1px var(--color-light_pink-500);
            outline-color: var(--color-light_pink-400);
            color: var(--color-light_pink-500);
            line-height: 2;
        }

        button {
            font-size: 1.5em;
            background-color: var(--color-magenta);
            color: white;
            padding: 12px;
            border-radius: 8px;
        }

        .box_bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            color: var(--color-light_pink-500);
            font-weight: 500;

            ul {
                display: flex;
                flex-direction: row;
                gap: 1em;
            }
        }
    }


    .conditions_box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 4em;
    }

    
}